:root {
  --bc: #23252C;
  --fs1: 25px;
  --fs2: 12.8px;
  --fw1: 700;
  --fw2: 400;
  -btn: #5093e2;
  --fc1: #ffffff;
  --fc2: #F3BF99;
  --social-media-color: #918E9B;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  width: 550px;
  height: 868px;
  left: 65px;
  top: 53px;

  background: var(--bc);
}

.container .card img {
  width: 317px;
  height: 317px;
  margin: 44px 117px 0 0;
  margin-left: 117px;
  border-radius: 10px 10px 0px 0px;
}

.container .card .content {
  position: absolute;
  width: 19.875rem;
  height: 24.9375rem;
  margin-left: 115.5px;
  margin-top: -25px;

  background: #1A1B21;
}

.container .card .content h1 {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: var(--fw1);
  font-size: var(--fs1);
  line-height: 30px;
  margin: 21px 85px;
  color: var(--fc1);
  text-align: center;
}

.container .card .content h5 {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: var(--fw2);
  font-size: var(--fs2);
  top: 30.5px;
  left: 6rem;
  line-height: 15px;
  text-align: center;
  color: var(--fc2);
}

.container .card .content h6 {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--fw2);
  font-size: 10.24px;
  line-height: 150%;
  top: 3rem;
  left: 7rem;
  text-align: center;
  color: var(--fc1);
}



.container .card .content .btns .email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  cursor: pointer;
  width: 115px;
  height: 34px;
  margin-left: 2.1875rem;
  margin-top: 7rem;
  /* top: 468px; */
  background: #FFFFFF;

  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.container .card .content .btns .linkdin {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;

  position: absolute;
  width: 115px;
  height: 34px;
  margin-left: 10.8rem;
  margin-top: -2rem;

  background: #5093E2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: none;
}

.container .card .content .details-sec .about-title {
  margin: 35px 0 152px 0;
  font-family: "Inter";
  font-style: normal;
  font-size: 1rem;
  font-weight: var(--fw1);
  line-height: 150%;
  color: #F5F5F5;
  margin-left: 2.375rem;
}

.container .card .content .details-sec .about {
  position: absolute;
  top: 12.3rem;
  left: 2.375rem;
  right: 2.125rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: .64rem;
  line-height: 150%;

  color: #DCDCDC;
}

.container .card .content .details-sec .interest-title {
  margin: -3.2em 0 152px 0;
  font-family: "Inter";
  font-style: normal;
  font-size: 1rem;
  font-weight: var(--fw1);
  line-height: 150%;
  color: #F5F5F5;
  margin-left: 2.375rem;
}

.container .card .content .details-sec .interest {
  position: absolute;
  top: 20rem;
  left: 2.375rem;
  right: 2.125rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: .64rem;
  line-height: 150%;

  color: #DCDCDC;
}

.container .card .footer {
  width: 19.875em;
  height: 64px;
  margin-left: 7.25rem;
  margin-top: 23.4rem;

  background: #161619;
  border-radius: 0px 0px 10px 10px;
}